{% with chapters=video.chapter_set.all sources=video.source_set.all first_source=sources|first %}
<div class="video-content">
<h3>{{ video.title }}</h3>
<video controls>
    {% for source in sources %}<source src="{{ source.file.url }}"  type='{{ source.type }}'>{% endfor %}
    {% with source=sources|first %}<a href="{{ source.file.url }}" >Download video</a>{% endwith %}
</video>
{% if chapters %}
<div class="chapters">
    <ul>
        {% for chapter in chapters %}
            <li><a id="chapter-{{ chapter.pk }}" href="#{{ chapter.seconds }}">{{ chapter.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if video.recorded %}Date: {{ video.recorded|date }}{% endif %}
</div>
{% endwith %}
